
.custonSection {
    height: 100%;
  }
  .custonSection1 {
    height: 900px;
    background-color: #ecb95a;
    padding: 100px;
  }
  .custonSection2 {
    height: 900px;
    background-color: #58f399;
  }
  .custonSection3 {
    height: 900px;
    background-color: burlywood;
  }
  .custonSection4 {
    height: 900px;
    background-color: #61dafb;
  }
  .custonSection5 {
    height: 900px;
    background-color: #dc61fb;
  }